html {
    scroll-behavior: smooth; 
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #e7ddd1;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    margin: 70px 0px;
}

h2 {
    margin: 20px 0px;
    font-weight: 700;
    font-size: 28px;
}

p {
    line-height: 28px;
    font-weight: 500;
    font-size: 16px;
}

.header {
    background-color: #ffe4c4;
}

.navigation {
    padding: 20px 0px;
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.navigation li a {
    padding: 0 20px;
    color: #728d76;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation li a:hover {
    color: #5c2d2d

}

.photo {
    display: block;
    width: 300px;
    border-radius: 180px;
    margin: 50px 0px 0px 300px;
}

.schoolLogo {
    width: 100px;
    margin-left: 100px;
}

.contacts {
    margin-left: 200px;
}

.contacts li {
    list-style: square ;
}

.about_me {
    display: flex;
}

.skil {
    text-decoration: none;
    list-style: circle;
}

#project {
    text-decoration: none;
    color: #4e9c71;
}

.footer {
    background-color: #ffe4c4;
}

.footer_text {
    display: flex;
    justify-content: center;
}

.footer_text p {
    margin: auto 0;
}

.other {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer_text a {
    color: #000000;
    margin: auto 30px;
}